# Name: Frequency_Profiler

# Description: This plugin plots the Fast Fourier Transform of a Z-Axis Profile
# given an ROI. The Fourier Transform is based on JTransforms (https://sites.google.com/site/
# piotrwendykier/software/jtransforms).

# Author: Darren Yang
# Version: 1.0
# Date: 03/05/2021

Image>Stacks, "Plot Frequency Profile", com.github.dyang44.imagej.Frequency_Profiler
